.contact-page-container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 2rem auto;
  background-color: rgba(74, 90, 155, 0.05);
  border: 1px solid rgba(74, 90, 155, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  
  overflow: hidden;}

.contact-info {
  flex-basis: 40%; 
  padding: 2.5rem;
  background-color: rgba(74, 90, 155, 0.05);
  color: #333;
}

.contact-info h2 {
  color: #4a5a9b;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-info .intro-p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.info-item .icon {
  font-size: 1.5rem;
  color: #4a5a9b;
}

.info-item strong {
  display: block;
  color: #222;
}


.contact-form-wrapper {
  flex-basis: 60%; 
  padding: 2.5rem;

}
